*{
    color: black;

}
nav{
    padding-left: 100px;
    padding-right: 30%;
    background-color: aquamarine;
}
a{
    text-decoration: none;
    color: black;
    text-shadow: 0ch;
    margin-left: 1;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: black;
  }
  